//
// preloader.scss
//

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  background-color: $primary;
  z-index: 9999;
  height: 5px;
}

.spinner {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 5px;
  background: $card-bg;
  animation: spin 5s infinite linear;
}

@keyframes spin {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(calc(100vw - 200px), 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
